<% layout("layouts/boilerplate") %>
<h1 class="mb-5">Full menu coming soon!</h1>
<a href="/user/editdetails" class="btn btn-primary">Edit Account Details</a>
<a href="/user/changepassword" class="btn btn-primary">Change Password</a>
<a href="/user/deleteaccount" class="btn btn-danger">Delete Account</a>
<a href="/user/orders" class="btn btn-primary">View orders</a>
<br><br>
<% if (user.permLvl >= 2) { %>
<a href="/manageproducts/all" class="btn btn-primary">Manage Products</a>
<a href="/manageorders/all" class="btn btn-primary">Manage Orders</a>
<a href="/managecategories/all" class="btn btn-primary">Manage Categories</a>
<% } %>
<br><br>
<% if (user.permLvl >= 3) { %>
<a href="/manageusers/" class="btn btn-primary">Manage Users</a>
<% } %>