<%- include("partials/head", {title: "Error!" }) %>
    <main class="container">
        <h1 class="display-3">An error has occured!</h1>
        <p>Error message: <%= error %></p>
    </main>

</body>

</html>