<% layout("layouts/boilerplate") %>
<h1 class="display-5">An error has occured!</h1>
<p><%= message || "We're really sorry but an error has occured with that request. Please try again later or contact us." %>
</p>