<%- include("partials/head", {title: "Home Page" }) %>
    <main class="container">
        <h1>Full menu coming soon!</h1>
        <a href="/manageproduct/all">Manage Products</a>
        <a href="/manageorder/all">Manage Orders</a>
    </main>
    </body>
        
    </html>