<%- include("../partials/head", {title: "Manage Orders" }) %>
    <main class="container">
        <div class="d-flex justify-content-between">
            <a href="/menu" class="btn btn-danger mb-5">Return to Menu</a>
            <div class="">
                <a href="/manageorders/all?status=1" class="btn btn-secondary mb-5">Not started</a>
                <a href="/manageorders/all?status=2" class="btn btn-secondary mb-5">Dispatched</a>
                <a href="/manageorders/all?status=3" class="btn btn-secondary mb-5">Completed</a>
                <a href="/manageorders/all" class="btn btn-success mb-5">All</a>
            </div>
        </div>
        <div class="row">
            <% for (let order of orders) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-5 align-center">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                <%= order.date.toLocaleString("en-UK") %>
                            </h5>
                            <p class="card-text">
                                <%= order.address %>
                            </p>
                            <a href="/manageorders/<%= order.id %>" class="btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </main>
    </body>

    </html>